{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Chỉnh sửa Danh mục</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data"> 
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a href="{% url 'admin_category_list' %}" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>