{% load static %}

{% block footer %}

<footer>
    <div class="L1">
        <div class="L2">
            <div class="child one">
                <div>CUỘN LÊN ĐẦU TRANG</div>
                <div>|</div>
                <div>LIÊN HỆ CHÚNG TÔI</div>
            </div>
            <div class="child two">
                <div>
                    BẢN TIN CLARKS</div>
                <div><input type="email" placeholder="Nhập địa chỉ email"><button id="footerbtn">></button></div>

            </div>
        </div>

    </div>
    <div class="L5">
        <div class="L3">
            <div>BỘ PHẬN</div>
            <div>TRỢ GIÚP</div>
            <div>VỀ CLARKS</div>
            <div>CLARKSUSA.COM</div>
            <div>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-youtube"></i>
            </div>

        </div>
        <hr id="L4">

        <div class="L6">
            <div class="fli">
                <p>Nữ</p>
                <p>Nam</p>
                <p>Nguyên bản</p>
                <p>Khám phá</p>
                <p>Khuyến mãi</p>
            </div>

            <div class="fli">
                <p>Thu hồi sản phẩm</p>
                <p>Dịch vụ khách hàng</p>
                <p>Vận chuyển & Giao hàng</p>
                <p>Tra cứu đơn hàng</p>
                <p>Trả hàng</p>
                <p>So sánh giá</p>
                <p>Câu hỏi thường gặp</p>
                <p>Câu hỏi thường gặp về ID.ME</p>
                <p>Điều khoản Chương trình Thưởng trong Cửa hàng</p>
                <p>Câu hỏi thường gặp về Chương trình Thưởng trong Cửa hàng</p>
                <p>Hướng dẫn chăm sóc giày</p>
            </div>
            <div class="fli">
                <p>Giới thiệu</p>
                <p>Khả năng truy cập</p>
                <p>Liên kết liên kết</p>
                <p>Blog</p>
                <p>Sự nghiệp</p>
                <p>California - Không bán thông tin cá nhân của tôi</p>
                <p>Luật Chuỗi Cung Ứng California</p>
                <p>Trách nhiệm doanh nghiệp</p>
                <p>Tuyên bố về Coronavirus</p>
                <p>Công nghệ</p>
            </div>
            <div class="fli">
                <p>Thẻ quà tặng</p>
                <p>Số dư thẻ quà tặng</p>
                <p>Hướng dẫn kích thước</p>
            </div>
        </div>

    </div>

    <div class="L7">
        <div class="L8">

            <div>
                <p>Điều khoản & Điều kiện</p>
            </div>
            <div>
                <p>Chính sách Riêng tư</p>
            </div>
            <div>
                <p>Chính sách Riêng tư CCPA</p>
            </div>


        </div>
        <div class="L9">
            <p>© C. & J. Clark International 2022. Clarks và logo Clarks là những thương hiệu đã đăng ký của C. & J. Clark
                International Limited.</p>
            <p>C&J Clark America, Inc., 140 Kendrick Street, Needham, MA 02494</p>
            <img class="footerimg" src="https://s7g10.scene7.com/is/content/Pangaea2Build/abCFooterPaypalb?hei=70"
                alt="">
            <img class="footerimg" src="https://s7g10.scene7.com/is/content/Pangaea2Build/adFooterVisa2020?hei=70"
                alt="">
            <img class="footerimg" src="https://s7g10.scene7.com/is/content/Pangaea2Build/abCFooterMastercardv2?hei=70"
                alt="">
            <img class="footerimg"
                src="https://s7g10.scene7.com/is/content/Pangaea2Build/adFooterDiscoverCard2020b?hei=70" alt="">
            <img class="footerimg"
                src="https://s7g10.scene7.com/is/content/Pangaea2Build/adFooterAmericanExpress2020b?hei=70" alt="">
            <img class="footerimg" src="https://clarks.scene7.com/is/content/Pangaea2Build/IC_klarnaLogo" alt="">


        </div>

    </div>

    <script src="https://kit.fontawesome.com/d6704551e9.js" crossorigin="anonymous"></script>
</footer>
</body>
<script src="{%static 'app/index.js' %}"></script>
<script src="{%static 'app/js/new_product.js' %}"></script>
<script src="{%static 'app/js/index.js' %}"></script>
<script src="{%static 'app/js/cart.js' %}"></script>    

</html>

{% endblock %}
