{% load static %}

{% block main_nav %}
</head>

<style>
    .dropbtn a {
        text-decoration: none;
        color: black;
    }
</style>   

    
<body>

    <nav>
        <div id="clearance">
            <span>TIẾT KIỆM LÊN ĐẾN </span><span>GIẢM GIÁ 80%*</span><span>MÃ SỬ DỤNG: EXTRA</span>
        </div>
        <div id="scroll">
            <div id="trackorder">
                <span>
                    <img src="https://cdn-icons-png.flaticon.com/512/664/664468.png" alt="Error">
                     <a href="{% url 'yourorder' %} ">Trạng thái vận chuyển </a> 
                </span>

                <span>
                    <img src="https://cdn-icons-png.flaticon.com/512/684/684809.png">
                     <p>Vị trí cửa hàng </p> 
                </span>

                <span id="logIn">
                    <img src="https://cdn-icons-png.flaticon.com/512/2609/2609282.png">
                    <p>
                        <a style="text-decoration: none; color:black;" href="{% url 'login' %}">Đăng nhập</a> / 
                        <a style="text-decoration: none; color:black;" href="{% url 'register' %}">Đăng ký</a> 
                    </p>
                </span>
            </div>
            <div id="clarks">
                <div id="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'app/img/logo.jpg' %}" alt="">
                    </a>  

                </div>

                <div id="navbaritems">
                    <div class="dropdown">
                        <p class="dropbtn">
                            <a href="{% url 'index' %}"> Trang chủ </a>
                        </p>
                        
                    </div>
                    <div class="dropdown">
                        <p class="dropbtn">
                            <a href="{% url 'product_man' %}"> Giày nam  </a>
                        </p>
                    </div>
                    <div class="dropdown">
                        <p class="dropbtn">
                            <a href="{% url 'product_woman' %}"> Giày nữ  </a>
                        </p>
                    </div>
                    <div class="dropdown">
                        <p class="dropbtn">
                            <a href="{% url 'product_kid' %}"> Giày trẻ em  </a>
                        </p>
                    </div>
                    <div class="dropdown">
                        <p class="dropbtn">
                            <a href="{% url 'bestseller' %}"> Bán chạy </a>
                        </p>
                    </div>
                    <div class="dropdown">
                        <p class="dropbtn">
                            <a href="{% url 'accessories' %}"> Phụ kiện </a>
                        </p>
                    </div>
                    <div class="dropdown">
                        <p class="dropbtn">
                            <a href="{% url 'aboutUs' %}"> Giới thiệu </a>
                        </p>
                    </div>
                    <div class="dropdown">
                        <p class="dropbtn">
                            <a href="{% url 'admin_product_list' %}"> Admin </a>
                        </p>
                    </div>
                </div>
                <div id="searchCart">
                    <div class="search-box">
                        <button class="btn-search"><i class="fas fa-search"></i></button>
                        <input type="text" class="input-search" placeholder="Tìm kiếm theo loại...">
                    </div>

                    <a href="{% url 'cartItem' product.pk %}">
                        <i id="cartA" class="fa-solid fa-bag-shopping"></i>
                    </a>
                    
                </div>
            </div>
        </div>
        <hr>

        <div id="shipping">
            <div>
                <span>MIỄN PHÍ VẬN CHUYỂN</span>
                <span>TRÊN ĐƠN HÀNG TRÊN $75</span>
                <span>|</span>
                <span>TRẢ LẠI MIỄN PHÍ</span>
                <span>MỖI NGÀY</span>
            </div>
        </div>

    </nav>

{% endblock %}