{% load static %}

{% include "base/header.html" %}
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />    
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/cart.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% include "base/nav.html" %}

   <div class="container mt-5">
    <h2>Giỏ hàng của bạn</h2>

    {% if cart_items %}
    <table class="table">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Tổng</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
            <tr>
                <td>
                    <a href="{% url 'detail_product' cart_item.product.pk %}">
                        <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" width="50">
                        {{ cart_item.product.name }}
                    </a>
                    <br>
                    <small>
                        {% if cart_item.size %}
                        Kích cỡ: {{ cart_item.size }}
                        {% endif %}
                        {% if cart_item.color %}
                        Màu sắc: {{ cart_item.color }}
                        {% endif %}
                    </small>
                </td>
                <td>
                    <form method="POST" action="{% url 'update_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="cart_item_id" value="{{ cart_item.pk }}">
                        <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1">
                        <button type="submit" class="btn btn-sm btn-primary">Cập nhật</button>
                    </form>
                </td>
                <td>{{ cart_item.product.name }}</td>
                <td>{{ cart_item.product.price }}</td>
                <td>{{ cart_item.quantity }}</td>
                <td>{{ cart_item.quantity}} * {{ cart_item.product.price }}</td>
                <td>
                    <a href="{% url 'delete_cart_item' cart_item.pk %}" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6 offset-md-6">
            <p>Tổng giá: <strong>{{ total_price }}</strong></p>
            <a href="{% url 'checkout' %}" class="btn btn-success">Thanh toán</a>
        </div>
    </div>

    {% else %}
    <p>Giỏ hàng của bạn hiện đang trống.</p>
    {% endif %}
</div>
    
    
{% include "base/footer.html" %}