
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/cart.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    {% comment %} đây là phần header {% endcomment %}
    {% block main-header %}{% endblock main-header %}

    <div class="K10">
        <button> TIẾP TỤC DUYỆT</button>
    </div>
    
    <div id="K1111">
        <div class="K111"><h1 id="MyShoppingBag">Giỏ Hàng Của Tôi</h1></div>
        <div class="K112">
            <p>Mã Giỏ: 679787725</p>
            <p> Cần giúp đỡ? </p>
            <button><a href="" onclick="return false">THANH TOÁN NGAY</a></button>
        </div>
    </div>
    
    <div class="Kbreakline"></div>
    
    <div class="K12">
        <img src="https://www.clarksusa.com/_ui/responsive/common/images/icons/white-truck.png" alt="">
        <p>MIỄN PHÍ GIAO HÀNG CHO ĐƠN HÀNG TỪ $50 TRỞ LÊN + MIỄN PHÍ TRẢ HÀNG HÀNG NGÀY</p>
    </div>
    
    <div class="K13">
        <div id="K131"></div>
        <div class="K132">
            <div><p>Tổng phụ</p><p id="Subtotal"></p></div>
            <div class="Kbreakline"></div>
            <div><p>Thuế</p><p id="Taxes"></p></div>
            <div class="Kbreakline"></div>
            <div><p>Tổng dự tính</p><p id="Estimatedtotal"></p></div>
            <div class="Kbreakline"></div>
            <h3>Nhập Mã Khuyến Mãi và Nhấn Áp Dụng</h3>
            <div>
                <input type="text" id="cupon" placeholder="Nhập Mã Khuyến Mãi Của Bạn">
                <button id="cuponbtn"><a href="" onclick="return false">Áp Dụng</a></button>
            </div>
            <button id="CHECKOUTNOW"><a href="./checkout.html">THANH TOÁN NGAY</a></button>
        </div>
    </div>
    
        
       

    </div>


    {% comment %} đây là phần footer  {% endcomment %}
    {% block main-footer %}{% endblock main-footer %}
    
</body>
<script src="{%static 'app/js/cart.js' %}"></script>
<script src="{%static 'app/js/index.js' %}"></script>
</html>