
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/cart.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    {% comment %} đây là phần header {% endcomment %}
    {% block main-header %}{% endblock main-header %}

    <div class="K10">
        <button> CONTINUE BROWSING</button>
       


    </div>

    <div id="K1111">
        <div class="K111"><h1 id="MyShoppingBag">My Shopping Bag</h1></div>
        <div class="K112">
            <p>Bag ID:679787725</p>
            <p> Need help ? </p>
            <button><a href="" onclick="return false">CHECKOUT NOW</a></button>
        </div>

    </div>

    <div class="Kbreakline">

    </div>

    <div class="K12">
       <img src="https://www.clarksusa.com/_ui/responsive/common/images/icons/white-truck.png"
        alt="">
        <p>FREE SHIPPING ON ALL $50+ ORDERS + FREE RETURNS EVERYDAY</p>
       


    </div>

    <div class="K13">
        <div id="K131"></div>
        <div class="K132">
            <div><p>Subtotal</p><p id="Subtotal"></p></div>
            <div class="Kbreakline">

            </div>
            <div><p>Taxes</p><p id="Taxes"></p></div>
            <div class="Kbreakline">

            </div>
            <div><p>Estimated total</p><p id="Estimatedtotal"></p></div>
            <div class="Kbreakline">

            </div>
            <h3>Enter Your Promo Code and Click Apply</h3>
            <div>
                <input type="text" id="cupon" placeholder="Enter Your Promo Code">
                <button id="cuponbtn"><a href="" onclick="return false">Apply</a></button>

            </div>
            <button id="CHECKOUTNOW"><a href="./checkout.html">CHECKOUT NOW</a></button>

        </div>
        
       

    </div>


    {% comment %} đây là phần footer  {% endcomment %}
    {% block main-footer %}{% endblock main-footer %}
    
</body>
<script src="{%static 'app/js/cart.js' %}"></script>
<script src="{%static 'app/js/index.js' %}"></script>
</html>