{% load static %}

{% include "base/header.html" %}
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />    
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/cart.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% include "base/nav.html" %}

    <div class="K10">
        <button> TIẾP TỤC DUYỆT</button>
    </div>
    
    <div id="K1111">
        <div class="K111"><h1 id="MyShoppingBag">Giỏ Hàng Của Tôi</h1></div>
        
            <button><a href="{% url 'payProduct' %}" >THANH TOÁN NGAY</a></button>
        </div>
    </div>
    <div class="product-order">
        <h1>Sản phẩm đã đặt</h1>
        <div class="bank">
            <p id="detail_bank">Size: {{ size.name }}</p>
            <p id="detail_bank">Màu: {{ color.name }}</p>
            <img src="{{ product.ImageUrl }}" alt="error" id="detail_bank">
            <h1 id="detail_bank">{{ product.name }}</h1>
            <p id="detail_bank">${{ product.price | floatformat }} VND</p>
        </div>
    </div>
    
    
{% include "base/footer.html" %}