{% load static %}

{% include "base/header.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/checkout.css' %}" />

    {% include "base/nav.html" %}

    <div id="container">
      <img
        src="https://i.pinimg.com/originals/ba/3c/c8/ba3cc869f9add08aae7cf382826911c6.gif"
        alt=""
      />

      <div class="K5">
        <div class="K51">
            <h1>Cảm ơn bạn đã mua sắm với chúng tôi</h1>
            <p>Vui lòng kiểm tra hộp thư điện tử của bạn để lấy Mã Theo Dõi Đơn Hàng</p>
            <p></p>
    
            <div class="K52">
                <button>
                    <a href="{% url 'index' %}">Tiếp Tục Mua Sắm Với Chúng Tôi</a>
            </button>
          </div>
        </div>
      </div>
    </div>

{% include "base/footer.html" %}