{% load static %}

{% include "base/header.html" %}
<link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />

        {% include "base/nav.html" %}

        <div id="pinksection">
            <img src="{% static 'app/img/right.PNG' %}">
            <div>
                <p>GIẢM GIÁ MÙA ĐÔNG</p>
                <p>TIẾT KIỆM LÊN ĐẾN</p>
                <p>50%*</p>
                <p>GIẢM THÊM 30% TRÊN CÁC SẢN PHẨM ĐÃ GIẢM GIÁ</p>
                <p>SỬ DỤNG MÃ: EXTRA</p>
                <span>
                    <button>Mua Sắm Nữ</button>
                    <button>Mua Sắm Nam</button>
                    <button>Mua Sắm Trẻ Em</button>
                    <button>Mua Tất Cả</button>
                </span>
                <p>Để biết thêm chi tiết, xem <span>điều khoản & điều kiện</span></p>
            </div>
            <img src="{% static 'app/img/left.PNG' %}">
        </div>

        <img class="S_firstImage" src="https://clarks.scene7.com/is/image/Pangaea2Build/AW22WOriannaMidDarkSandSuedeOnsiteBannerDesktop1500x500?fmt=webp&wid=1500" alt="">
        <div id="S_winter_div">
            <div id="S_winter_innerdiv">
                <h1 style="font-size: 46px" class="S_WINTER_REBOOT_heading">KHỞI ĐỘNG LẠI MÙA ĐÔNG</h1>
                <p>Tái tạo một đôi giày cơ bản với phong cách biểu tượng, gặp gỡ đôi bốt Orianna Mid của chúng tôi. Được làm từ da lộn màu cát tối được chọn lọc có trách nhiệm cho vẻ ngoài cao cấp, hình dáng chunky của nó rất hợp thời trang, trong khi lớp lót lông giả giữ ấm ngón chân khi đối mặt với thời tiết lạnh hơn. Chi tiết khâu của Clarks gợi nhớ về di sản của chúng tôi, khiến mỗi bước đi đều trở nên vượt thời gian.</p>
                <div>
                    <button>Mua Bốt Nữ</button>
                    <button>Mua Bốt Nam</button>
                </div>
            </div>
        </div>
        <div id="S_container">
            <div>
                <img src="https://clarks.scene7.com/is/image/Pangaea2Build/BANWKS50and51OpalZipPeppleSuedeTabletBanner705x395px?fmt=webp&wid=705"
                    alt="">
                <h1 class="S_WINTER_REBOOT_heading">ẤM ÁP VÀ THOẢI MÁI</h1>
                <p>Giữ ấm và trông thật ngầu với Opal Sky, đôi bốt trên cảm hứng từ Chelsea với phần trên bằng da lộn. Bước ra với phong cách thoải mái mỗi lần với đệm chân Ultimate Comfort và đế chống trượt của chúng tôi.</p>
                <div>
                    <button>Mua Opal Sky Đang Giảm Giá</button>
                    <button>Mua Bốt Nữ Ấm Áp</button>
                </div>
            </div>
            <div>
                <img src="https://clarks.scene7.com/is/image/Pangaea2Build/AW22CostonWallyWPDarkSandWLinedOnsiteBannerTablet705x397?fmt=webp&wid=705"
                    alt="">
                <h1 class="S_WINTER_REBOOT_heading">SẴN SÀNG CHO THỜI TIẾT VỚI SỰ ĐỘC ĐÁO</h1>
                <p>Một sự cải tiến mới mẻ cho hình dáng Wallabee biểu tượng, đôi bốt Corston Wally WP của chúng tôi kết hợp phong cách di sản với sự độc đáo cho mùa đông. Với lớp hoàn thiện hoàn toàn không thấm nước và lớp lót lông giả ấm áp - thời tiết không làm cản trở kế hoạch của chúng tôi!</p>
                <div>
                    <button>Mua Opal Sky Đang Giảm Giá</button>
                    <button>Mua Bốt Nữ Ấm Áp</button>
                </div>
            </div>
        </div>

        <div class="K1">
            <img src="https://clarks.scene7.com/is/image/Pangaea2Build/ClarksHomepageBanner8thSt1500x500?fmt=webp&wid=1500"
                alt="">

            <div class="K11">
                <h1>8 BỘ SƯU TẬP CỦA CLARKS ORIGINALS</h1>
                <p>Với gần ba thập kỷ kinh nghiệm trong ngành công nghiệp giày dép, nhà thiết kế người Mỹ và người sáng lập Kith Ronnie Fieg là một người đam mê giày cổ điển chính hiệu - khiến anh trở thành đối tác hoàn hảo cho một dự án hợp tác với Clarks Originals.</p>

                <div class="K12">
                    <button><a href="" onclick="return false">Mua Bộ Sưu Tập 8th Street</a></button>
                    <button><a href="" onclick="return false">Xem Bài Viết</a></button>

                </div>
            </div>

        </div>

        <div class="K2">
            <div class="K21">
                <h3>THU HỒI AN TOÀN NĂM KIỂU GIÀY NỮ CLARKS</h3>
                <a href="" onclick="return false"><span>Nhấn vào đây</span> để biết thêm thông tin</a>
            </div>
        </div>

        <div class="K3">
            <div class="K31">
                <img src="https://clarks.scene7.com/is/image/Pangaea2Build/MagnoliaZipBlackLeather852x852px?&fmt=png-alpha"
                    alt="">

                <div class="K32">
                    <p>Mua Sắm Nữ</p>
                </div>


            </div>
            <div class="K31">
                <img src="https://clarks.scene7.com/is/image/Pangaea2Build/MNature5TieBeeswaxLeather852x852px?&fmt=png-alpha"
                    alt="">
                <div class="K32">
                    <p>Mua Sắm Nam</p>
                </div>

            </div>
            <div class="K31">
                <img src="https://clarks.scene7.com/is/image/Pangaea2Build/WebBannersDualGenderSashikoOriginalsHomepage852x852px?&fmt=png-alpha"
                    alt="">
                <div class="K32">
                    <p>Mua Originals</p>
                </div>

            </div>
            <div class="K31">
                <img src="https://clarks.scene7.com/is/image/Pangaea2Build/KWallabeeBootNavyCombi852x852px?&fmt=png-alpha"
                    alt="">
                <div class="K32">
                    <p>Mua Sắm Trẻ Em</p>
                </div>

            </div>

        </div>

        <div class="K4">
            <div class="K41">
                <h3>Mua ngay. Trả sau. Với</h3>
                <img src="https://clarks.scene7.com/is/content/Pangaea2Build/IC_klarnaLogo" alt="">
                <a href="" onclick="return false">Tìm hiểu thêm</a>
            </div>
        </div>


{% include "base/footer.html" %}