{% load static %}

{% include "base/header.html" %}
<link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />

        {% include "base/nav.html" %}

        <div id="pinksection">
            <img src="./img/left.PNG">
            <div>
                <p>GIẢM GIÁ MÙA ĐÔNG</p>
                <p>TIẾT KIỆM ĐẾN</p>
                <p>50%*</p>
                <p>GIẢM THÊM 30% CHO CÁC MẶT HÀNG GIẢM GIÁ</p>
                <p>SỬ DỤNG MÃ: EXTRA</p>
                <span>
                    <button>Mua Sắm Nữ</button>
                    <button>Mua Sắm Nam</button>
                    <button>Mua Sắm Trẻ Em</button>
                    <button>Mua Sắm Tất Cả</button>
                </span>
                <p>Để biết thêm chi tiết, xem <span>các điều khoản & điều kiện</span></p>
            </div>
            <img src="./img/right.PNG">
        </div>
        

        <img class="S_firstImage" src="https://clarks.scene7.com/is/image/Pangaea2Build/AW22WOriannaMidDarkSandSuedeOnsiteBannerDesktop1500x500?fmt=webp&wid=1500" alt="">
<div id="S_winter_div">
    <div id="S_winter_innerdiv">
        <h1 style="font-size: 46px" class="S_WINTER_REBOOT_heading">PHỤC HỒI MÙA ĐÔNG</h1>
        <p>Tái tạo một đôi giày cơ bản trong phong cách biểu tượng, gặp gỡ chiếc boot Orianna Mid của chúng tôi. Được chế tạo từ da màu dark sand nguồn gốc có trách nhiệm để có vẻ ngoài cao cấp, dáng giày to bản của nó đáp ứng xu hướng hiện đại, trong khi lớp lót faux shearling ôm sát giữ ấm cho ngón chân khi phải đối mặt với thời tiết lạnh. Chi tiết may của Clarks gợi nhớ đến di sản của chúng tôi, làm cho mỗi bước chân trở nên vĩnh cửu.</p>
        <div>
            <button>Mua Sắm Giày Nữ</button>
            <button>Mua Sắm Giày Nam</button>
        </div>
    </div>
</div>

<div id="S_container">
    <div>
        <img src="https://clarks.scene7.com/is/image/Pangaea2Build/BANWKS50and51OpalZipPeppleSuedeTabletBanner705x395px?fmt=webp&wid=705"
            alt="">
        <h1 class="S_WINTER_REBOOT_heading">ẤM ÁP MỘT CÁCH THOẢI MÁI</h1>
        <p>Giữ ấm và trông phong độ với Opal Sky, chiếc boot upper bằng da lộn được lấy cảm hứng từ Chelsea. Bước ra ngoài trong phong cách tạo cảm giác tốt mỗi lần với lót Ultimate Comfort và đế chống trượt.</p>
        <div>
            <button>Mua Opal Sky giảm giá</button>
            <button>Mua Giày Boot Ấm Cho Nữ</button>
        </div>
    </div>
    <div>
        <img src="https://clarks.scene7.com/is/image/Pangaea2Build/AW22CostonWallyWPDarkSandWLinedOnsiteBannerTablet705x397?fmt=webp&wid=705"
            alt="">
        <h1 class="S_WINTER_REBOOT_heading">SẴN SÀNG VỚI THỜI TIẾT CÓ CHÚT KHÁC BIỆT</h1>
        <p>Một sự cập nhật mới lạ cho dáng giày nổi tiếng Wallabee, chiếc boot Corston Wally WP của chúng tôi kết hợp phong cách di sản với một chút thay đổi phù hợp với thời tiết mùa đông. Với lớp phủ chống nước hoàn toàn và lớp lót faux fur ấm áp - thời tiết không làm ướt kế hoạch của chúng tôi!</p>
        <div>
            <button>Mua Opal Sky giảm giá</button>
            <button>Mua Giày Boot Ấm Cho Nữ</button>
        </div>
    </div>
</div>

<div class="K1">
    <img src="https://clarks.scene7.com/is/image/Pangaea2Build/ClarksHomepageBanner8thSt1500x500?fmt=webp&wid=1500"
        alt="">

    <div class="K11">
        <h1>8TH STREET BỞI RONNIE FIEG DÀNH CHO CLARKS ORIGINALS</h1>
        <p>Với gần ba thập kỷ kinh nghiệm trong ngành giày dép, nhà thiết kế người Mỹ và người sáng lập của Kith Ronnie Fieg là một tín đồ thực sự của các đôi giày classic - điều này khiến anh ta trở thành đối tác lý tưởng cho một cuộc hợp tác Clarks Originals.</p>

        <div class="K12">
            <button><a href="" onclick="return false">Mua Bộ Sưu Tập 8th Street</a></button>
            <button><a href="" onclick="return false">Xem Chức Năng</a></button>
        </div>
    </div>

</div>

<div class="K2">
    <div class="K21">
        <h3>THÔNG BÁO RỦI RO AN TOÀN CHO NĂM MẪU GIÀY NỮ CỦA CLARKS</h3>
        <a href="" onclick="return false"><span>Nhấn vào đây</span> để biết thêm thông tin</a>
    </div>
</div>

<div class="K3">
    <div class="K31">
        <img src="https://clarks.scene7.com/is/image/Pangaea2Build/MagnoliaZipBlackLeather852x852px?&fmt=png-alpha"
            alt="">

        <div class="K32">
            <p>Mua Giày Nữ</p>
        </div>
    </div>
    <div class="K31">
        <img src="https://clarks.scene7.com/is/image/Pangaea2Build/MNature5TieBeeswaxLeather852x852px?&fmt=png-alpha"
            alt="">
        <div class="K32">
            <p>Mua Giày Nam</p>
        </div>
    </div>
    <div class="K31">
        <img src="https://clarks.scene7.com/is/image/Pangaea2Build/WebBannersDualGenderSashikoOriginalsHomepage852x852px?&fmt=png-alpha"
            alt="">
        <div class="K32">
            <p>Mua Giày Originals</p>
        </div>
   



{% include "base/footer.html" %}