{% load static %}

{% include "base/header.html" %}
<link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/login.css' %}" />


    {% include "base/nav.html" %}

    <div class="L1">
      <div class="l1">
          <div><p>Đăng Nhập</p></div><div>Cần trợ giúp?</div>
      </div>
  </div>
  <div class="login-form">
      <form action="">
          <label for="E-mail">Địa chỉ E-mail</label>
          <input  type="text"/>
          <label for="Password">Mật khẩu</label>
          <input type="password" id="pass"/><span id="show">Hiển thị</span>
          <a href="#">Quên mật khẩu của bạn?</a><br>
          <div style="display: flex; align-items: center;">
              <input type="checkbox" id="check"><label style="color:#798188;">&nbsp; Ghi nhớ đăng nhập</label>
          </div>
          <input type="submit" value="ĐĂNG NHẬP" />
          <p>Bạn chưa có tài khoản Clarks?<a href="{% url 'register' %}"> TẠO MỘT TÀI KHOẢN</a>  </p>
      </form>
  </div>
  

<script>
    document.getElementById("show").addEventListener("click",()=>{
      document.getElementById("pass").setAttribute("type","text");
      document.getElementById("show").textContent="Hide";
    })
    document.querySelector("form").addEventListener("submit",function(){
        event.preventDefault()
        alert("Login Successful")
     window.location.href="index.html"
    })
    document.querySelector("#logo").addEventListener("click",function(){
  window.location.href="index.html"
})
</script>

{% include "base/footer.html" %}
