<!DOCTYPE html>
<html>
<head>
    <title>Clarks Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/login.css' %}" />
</head>
<body>

    {% comment %} đây là phần header {% endcomment %}
    {% block main-header %}{% endblock main-header %}

    <div class="L1">
        <div class="l1">
            <div><p>Log In</p></div><div>Need help?</div>
        </div>
    </div>
  <div class="login-form">
   
    <form action="">
        <label for="E-mail">E-mail address</label>
      <input  type="text"/>
      <label for="Password">Password</label>
      <input type="password" id="pass"/><span id="show">Show</span>
      <a href="#">Forgot Your Password?</a><br>
      <div style="display: flex; align-items: center;">
        <input type="checkbox" id="check"><label style="color:#798188;">&nbsp; Remember Me</label>
      </div>
      <input type="submit" value="LOG IN" />
       <p>Don't have a Clarks account?<a href="./Reg.html"> CREATE AN ACCOUNT</a>  </p>
      
      
    </form>
  </div>

    {% comment %} đây là phần footer  {% endcomment %}
    {% block main-footer %}{% endblock main-footer %}

</body>
<script>
    document.getElementById("show").addEventListener("click",()=>{
      document.getElementById("pass").setAttribute("type","text");
      document.getElementById("show").textContent="Hide";
    })
    document.querySelector("form").addEventListener("submit",function(){
        event.preventDefault()
        alert("Login Successful")
     window.location.href="index.html"
    })
    document.querySelector("#logo").addEventListener("click",function(){
  window.location.href="index.html"
})
</script>
<!-- <script src="index.js"></script> -->
</html>