<!DOCTYPE html>
<html>

<head>
    <title>Clarks Login</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'app/css/Reg.css' %}" />
</head>

<body>

    {% comment %} đây là phần header {% endcomment %}
    {% block main-header %}{% endblock main-header %}

    <div class="L1">
        <div class="l1">
            <div>
                <p>TẠO TÀI KHOẢN</p>
            </div>
            <div>Cần trợ giúp?</div>
        </div>
    </div>
    <div class="login-form">
        <form action="">
            <label for="E-mail">Địa chỉ email</label><br>
            <input type="email" /><br>
            <label for="Fname">Tên</label><br>
            <input type="text"><br>
            <label for="Lname">Họ</label><br>
            <input type="text"><br>
            <label for="Password">Tạo mật khẩu của bạn</label>
            <input type="password" id="pass"/><span id="show">Hiển thị</span>
            <div style="display: flex; align-items: center;">
                <input type="checkbox" id="check"><label style="color:#798188;">&nbsp; Ghi nhớ tôi</label>
            </div>
            <input type="submit" value="TẠO TÀI KHOẢN" />
            <p>Bằng cách tạo tài khoản này, bạn đồng ý với <a href="#"> Điều khoản và Điều kiện của chúng tôi.</a> </p>
            <p>Đã có một tài khoản Clarks? <a href="#">Đăng nhập</a></p>
        </form>
    </div>
    


    {% comment %} đây là phần footer  {% endcomment %}
    {% block main-footer %}{% endblock main-footer %}

</body>
</html>
<script>

    document.getElementById("show").addEventListener("click",()=>{
      document.getElementById("pass").setAttribute("type","text");
      document.getElementById("show").textContent="Hide";
    })
    document.querySelector("#logo").addEventListener("click",function(){
  window.location.href="index.html"
})
</script>
<script src="https://kit.fontawesome.com/d6704551e9.js" crossorigin="anonymous"></script>